<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb485994239334587</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.840916028588-lu21uqbbhe3jtlh1gumcaog2of9p7uit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk7896464</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>485994239334587</string>
	<key>FacebookDisplayName</key>
	<string>test</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4477834132340814~2557364430</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitterauth</string>
		<string>twitter</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>lineauth2</string>
		<string>vk</string>
		<string>vk-share</string>
		<string>vkauthorize</string>
	</array>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1656091689</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>vk.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<string>YES</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<string>NO</string>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>(俄文字體)ARIALN.TTF</string>
		<string>A-OTF-FOLKPRO-MEDIUM.OTF</string>
		<string>NanumGothic.ttf</string>
		<string>Neo_Sans.ttf</string>
		<string>ARABTYPE.TTF</string>
		<string>arial.ttf</string>
		<string>LayijiMahaniyomV105.ttf</string>
		<string>ARIALN1.TTF</string>
		<string>FZDHTJW(1).TTF</string>
		<string>FZDHTJW.TTF</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
