<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCon</key>
	<string>ยืนยัน</string>
	<key>UserPri</key>
	<string>นโยบายความเป็นส่วนตัว</string>
	<key>UserAg</key>
	<string>ข้อตกลงผู้ใช้</string>
	<key>errorNetWork</key>
	<string>เชื่อมต่ออินเทอร์เน็ตผิดพลาด โปรดตรวจสอบการเชื่อมต่อค่อยลองอีกครั้ง</string>
	<key>phoneBind</key>
	<string>คุณได้ผูกมัดมือถือแล้ว</string>
	<key>sendSuccess</key>
	<string>ส่งรหัสสำเร็จ</string>
	<key>codeNil</key>
	<string>ห้ามเว้นว่างรหัสยืนยัน/โปรดกรอกรหัสยืนยันที่สมบูรณ์</string>
	<key>phoneNil</key>
	<string>ห้ามเว้นว่างเบอร์มือถือ/โปรดกรอกเบอร์มือถือที่สมบูรณ์</string>
	<key>phoneBack</key>
	<string>กลับ</string>
	<key>phoneSure</key>
	<string>ยืนยัน</string>
	<key>enterCode</key>
	<string>กรอกรหัสยืนยัน</string>
	<key>getCode</key>
	<string>รับรหัส</string>
	<key>enterPhone</key>
	<string>กรอกเบอร์มือถือ</string>
	<key>chooseCou</key>
	<string>เลือกประเทศ</string>
	<key>bindPhone</key>
	<string>มือถือยืนยัน</string>
	<key>lan_change</key>
	<string>ยืนยันเปลี่ยนภาษา?</string>
	<key>UserFB</key>
	<string>Facebook</string>
	<key>lan_th</key>
	<string>ยืนยันเลือกภาษาไทย?</string>
	<key>lan_ru</key>
	<string> ยืนยันเลือกภาษารัสเซีย?</string>
	<key>lan_pt</key>
	<string>ยืนยันเลือกภาษาโปรตุเกส?</string>
	<key>lan_ko</key>
	<string>ยืนยันเลือกภาษาเกาหลี?</string>
	<key>lan_ja</key>
	<string>ยืนยันเลือกภาษาญี่ปุ่น?</string>
	<key>lan_id</key>
	<string>ยืนยันเลือกภาษาอินโดนีเซีย?</string>
	<key>lan_hk</key>
	<string> ยืนยันเลือกภาษาจีน?</string>
	<key>lan_es</key>
	<string>ยืนยันเลือกภาษาสเปน?</string>
	<key>lan_en</key>
	<string>ยืนยันเลือกภาษาอังกฤษ?</string>
	<key>lan_ar</key>
	<string>ยืนยันเลือกภาษาอาหรับ?</string>
	<key>lan_cancle</key>
	<string>ยกเลิก</string>
	<key>lan_sure</key>
	<string>ยืนยัน</string>
	<key>TitleMsg</key>
	<string>เลือกภาษา</string>
	<key>Tip</key>
	<string>หมายเหตุ</string>
	<key>PaySuccess</key>
	<string>ซื้อสำเร็จ</string>
	<key>PayFail</key>
	<string>ซื้อล้มเหลว</string>
	<key>ValidationError</key>
	<string>ข้อมูลยืนยันไม่ถูก</string>
	<key>UserCancle</key>
	<string>ผู้ใช้ยกเลิกสิทธิ์การเข้าถึงแล้ว</string>
	<key>AuthorizationFailure</key>
	<string>ขอเข้าถึงล้มเหลว</string>
	<key>NORequest</key>
	<string>ขอเข้าถึงไม่มีการตอบสนอง</string>
	<key>NOAnswer</key>
	<string>ไม่สามารถจัดการคำขอเข้าถึง</string>
	<key>NOReason</key>
	<string>ขอเข้าถึงล้มเหลวโดยไม่รู้สาเหตุ</string>
	<key>NetWorkError</key>
	<string>เครือข่ายผิดพลาด</string>
	<key>UserEmpty</key>
	<string>ไม่ได้กรอกไอดีหรือรหัสผ่าน</string>
	<key>Agreement</key>
	<string>โปรโตคอลการใช้งาน</string>
	<key>Provision</key>
	<string>ต้องยอมรับ「ข้อตกลงผู้ใช้」ก่อนถึงใช้แอพพลิเคชั่นนี้ได้ กรุณาอ่าน「ข้อตกลงผู้ใช้」แล้วกดปุ่มยอมรับ</string>
	<key>Disagree</key>
	<string>ไม่ยอมรับ</string>
	<key>Agree</key>
	<string>ยอมรับ</string>
	<key>MsgProvision</key>
	<string>ต้องยอมรับ「ข้อตกลงผู้ใช้」ก่อนถึงใช้แอพพลิเคชั่นนี้ได้</string>
	<key>Sure</key>
	<string>ตกลง</string>
	<key>LoginMode</key>
	<string>＊โปรดเลือกบัญชีล็อกอิน
＊หลังล็อกอินแล้วข้อมูลตัวละครในเกมจะเปลี่ยนเป็นข้อมูลตัวละครของไอดีที่ใช้ล็อกอิน</string>
	<key>LineLogin</key>
	<string>LINE</string>
	<key>UserLogin</key>
	<string>EYOU ID</string>
	<key>Register</key>
	<string>ลงทะเบียน</string>
	<key>Error</key>
	<string>ผิดพลาด</string>
	<key>LoginSuccess</key>
	<string>ล็อกอินสำเร็จ</string>
	<key>Close</key>
	<string>ปิด</string>
	<key>EnterAccount</key>
	<string>กรอกไอดี</string>
	<key>EnterPassword</key>
	<string>กรอกรหัสผ่าน</string>
	<key>Login</key>
	<string>ล็อกอิน</string>
	<key>ForgetPw</key>
	<string>ลืมรหัสผ่าน</string>
	<key>AccountMsg</key>
	<string>ข้อมูลไอดี</string>
	<key>CurrentAccount</key>
	<string>ไอดีปัจจุบัน</string>
	<key>LoginAccount</key>
	<string>ไอดีล็อกอิน</string>
	<key>ChangeMsg</key>
	<string>ข้อมูลตัวละครจะเปลี่ยนเป็นข้อมูลตัวละครของไอดีที่ใช้ล็อกอิน ยืนยันทำต่อไหม?</string>
	<key>Cancle</key>
	<string>ยกเลิก</string>
	<key>BeSure</key>
	<string>ยืนยัน</string>
	<key>AccountSame</key>
	<string>ไอดีที่ใช้อยู่เป็นไอเทมเดียวกัน</string>
	<key>Sent</key>
	<string>ส่ง</string>
	<key>HaveSent</key>
	<string>รหัสผ่านใหม่ส่งไปยังอีเมล์ที่คุณใช้ล็อกอินแล้ว</string>
	<key>DoLater</key>
	<string>กรุณารอสักครู่ค่อยดำเนินการอีก</string>
	<key>Inexistence</key>
	<string>ไม่เจอไอดีนี้</string>
	<key>AccountWarning</key>
	<string>ไอดีมีอักษรที่ห้ามใช้</string>
	<key>EmailError1</key>
	<string>ยังไม่ได้กรอกหรือกรอกที่อยู่อีเมล์ผิด</string>
	<key>EmailError2</key>
	<string>อีเมล์นี้ไม่ใช่อีเมล์ล็อกอินของไอดีนี้</string>
	<key>ConnectError</key>
	<string>เชื่อมต่อผิดพลาด</string>
	<key>EmailAgain</key>
	<string>กรุณายืนยันที่อยู่อีเมล์อีกครั้ง</string>
	<key>BindAccount</key>
	<string>ผูกมัดไอดี</string>
	<key>BindDone</key>
	<string>ผูกมัดไอดีสำเร็จ</string>
	<key>PwAgain</key>
	<string>กรอกรหัสผ่านอีกครั้ง</string>
	<key>EnterEmail</key>
	<string>กรอกที่อยู่อีเมล์</string>
	<key>PwAgainError</key>
	<string>รหัสที่กรอกอีกครั้งไม่ตรงกับรัหสที่กรอกก่อนหน้า</string>
	<key>Warning</key>
	<string>ระวัง</string>
	<key>BindMsg</key>
	<string>หลังผูกมัดไอดีLINEหรือไอดีEYOUแล้ว ก็สามารถย้ายข้อมูลตัวละครไปยังอุปกรณ์อื่น หลังผูกมัด เมื่อติดตั้งเกมในอุปกรณ์อื่น เปิดเกมแล้วกดปุ่มไอดีล็อกอินในหน้าล็อกอินก็สามารถล็อกอินไอดีที่ผูกมัดแล้ว
หากลืมรหัสผ่านของไอดีEYOU ระบบจะส่งจดหมายไปยังอีเมล์ที่คุณใช้ล็อกอิน ดังนั้นกรุณากรอกที่อยู่อีเมล์ให้ถูกต้อง</string>
	<key>AgeLimit</key>
	<string>จำกัดอายุในการซื้อ</string>
	<key>AgeMsg</key>
	<string>เมื่อผู้เยาว์ชำระเงินซื้อของในเกม ต้องได้รับการอนุญาตจากผู้ปกครองก่อน ถึงจะซื้อได้</string>
	<key>NewAccountMsg</key>
	<string>หลังสร้างบัญชีใหม่ บัญชีเดิมจะล็อกเอาท์อัตโนมัติ
หากไม่ได้ผูกมัดบัญชีเดิมจะสูญหายไป</string>
	<key>NewAccountDone</key>
	<string>สร้างไอดีใหม่สำเร็จ</string>
	<key>NoAds</key>
	<string>ปัจจุบันไม่มีโฆษณาให้ดูได้</string>
	<key>GetFail</key>
	<string>รับล้มเหลว</string>
	<key>News</key>
	<string>ข้อความใมห่</string>
	<key>Activity</key>
	<string>กิจกรรม</string>
	<key>System</key>
	<string>ระบบ</string>
	<key>NotToady</key>
	<string>วันนี้ไม่แจ้งอีก</string>
	<key>Detail</key>
	<string>รายละเอียด</string>
	<key>Sun</key>
	<string>วันอาทิตย์</string>
	<key>Mon</key>
	<string>จันทร์</string>
	<key>Tues</key>
	<string>อังคาร</string>
	<key>Wed</key>
	<string>พุธ</string>
	<key>Thur</key>
	<string>พฤหัส</string>
	<key>Fri</key>
	<string>ศุกร์</string>
	<key>Sat</key>
	<string>เสาร์</string>
</dict>
</plist>
