<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCon</key>
	<string>确定</string>
	<key>UserPri</key>
	<string>隐私政策</string>
	<key>UserAg</key>
	<string>会员条款</string>
	<key>errorNetWork</key>
	<string>网路连接异常，请检查网路后重新尝试。</string>
	<key>phoneBind</key>
	<string>你已经绑定过该手机号</string>
	<key>sendSuccess</key>
	<string>验证码发送成功</string>
	<key>codeNil</key>
	<string>验证码不能为空</string>
	<key>phoneNil</key>
	<string>手机号码不能为空</string>
	<key>phoneBack</key>
	<string>返回</string>
	<key>phoneSure</key>
	<string>确认</string>
	<key>enterCode</key>
	<string>请输入验证码</string>
	<key>getCode</key>
	<string>验证码</string>
	<key>enterPhone</key>
	<string>请输入手机号码</string>
	<key>chooseCou</key>
	<string>请选择国家</string>
	<key>bindPhone</key>
	<string>手机认证</string>
	<key>lan_change</key>
	<string>確定要切換語言?</string>
	<key>UserFB</key>
	<string>Facebook引继</string>
	<key>lan_th</key>
	<string>确定选择泰文？</string>
	<key>lan_ru</key>
	<string>确定选择俄语？</string>
	<key>lan_pt</key>
	<string>确定选择葡萄牙语？</string>
	<key>lan_ko</key>
	<string>确定选择韩文？</string>
	<key>lan_ja</key>
	<string>确定选择日本语？</string>
	<key>lan_id</key>
	<string>确定选择印尼语？</string>
	<key>lan_hk</key>
	<string>确定选择繁体中文？</string>
	<key>lan_es</key>
	<string>确定选择西班牙语？</string>
	<key>lan_en</key>
	<string>确定选择英语？</string>
	<key>lan_ar</key>
	<string>确定选择阿拉伯语？</string>
	<key>lan_cancle</key>
	<string>取消</string>
	<key>lan_sure</key>
	<string>确定</string>
	<key>TitleMsg</key>
	<string>请选择游戏的语言</string>
	<key>Tip</key>
	<string>提示</string>
	<key>PaySuccess</key>
	<string>购买成功</string>
	<key>PayFail</key>
	<string>购买失败</string>
	<key>ValidationError</key>
	<string>验证讯息错误</string>
	<key>UserCancle</key>
	<string>用户取消了授权请求</string>
	<key>AuthorizationFailure</key>
	<string>授权请求失败</string>
	<key>NORequest</key>
	<string>授权请求无回应</string>
	<key>NOAnswer</key>
	<string>无法处理授权请求</string>
	<key>NOReason</key>
	<string>未知原因授权请求失败</string>
	<key>NetWorkError</key>
	<string>网络错误</string>
	<key>UserEmpty</key>
	<string>账号或密码未输入</string>
	<key>Agreement</key>
	<string>利用规约</string>
	<key>Provision</key>
	<string>必须同意「使用者条款」才可使用本应用程序，请阅读「使用者条款」后点击同意按纽。</string>
	<key>Disagree</key>
	<string>不同意</string>
	<key>Agree</key>
	<string>同意</string>
	<key>MsgProvision</key>
	<string>必须同意「使用者条款」才可使用本应用程序</string>
	<key>Sure</key>
	<string>确认</string>
	<key>LoginMode</key>
	<string>＊请选择要使用的登入方式 
＊登入后游戏角色资料将更换为登入帐号的游戏角色资料。</string>
	<key>LineLogin</key>
	<string>LINE登入</string>
	<key>UserLogin</key>
	<string>EYOU账号登入</string>
	<key>Register</key>
	<string>注册账号</string>
	<key>Error</key>
	<string>错误</string>
	<key>LoginSuccess</key>
	<string>登入成功</string>
	<key>Close</key>
	<string>关闭</string>
	<key>EnterAccount</key>
	<string>输入账号</string>
	<key>EnterPassword</key>
	<string>输入密码</string>
	<key>Login</key>
	<string>登入</string>
	<key>ForgetPw</key>
	<string>忘记密码</string>
	<key>AccountMsg</key>
	<string>账号信息</string>
	<key>CurrentAccount</key>
	<string>目前账号</string>
	<key>LoginAccount</key>
	<string>登入帐号</string>
	<key>ChangeMsg</key>
	<string>角色资料将更换为登入帐号之角色资料，是否继续？</string>
	<key>Cancle</key>
	<string>取消</string>
	<key>BeSure</key>
	<string>确定</string>
	<key>AccountSame</key>
	<string>与目前使用的账号相同</string>
	<key>Sent</key>
	<string>送出</string>
	<key>HaveSent</key>
	<string>新密码已寄送至登录的信箱</string>
	<key>DoLater</key>
	<string>请稍后再操作</string>
	<key>Inexistence</key>
	<string>不存在的账号</string>
	<key>AccountWarning</key>
	<string>账号含有不可使用的字符</string>
	<key>EmailError1</key>
	<string>未输入或是输入了错误的信箱地址</string>
	<key>EmailError2</key>
	<string>此信箱不是此账号登录之信箱</string>
	<key>ConnectError</key>
	<string>连线错误</string>
	<key>EmailAgain</key>
	<string>请再次确认信箱地址</string>
	<key>BindAccount</key>
	<string>账号绑定</string>
	<key>BindDone</key>
	<string>账号绑定完成</string>
	<key>PwAgain</key>
	<string>请再次输入密码</string>
	<key>EnterEmail</key>
	<string>输入信箱地址</string>
	<key>PwAgainError</key>
	<string>密码栏与再次输入密码栏输入不一致</string>
	<key>Warning</key>
	<string>注意</string>
	<key>BindMsg</key>
	<string>用LINE或EYOU账号方式绑定后，即可将游戏角色资料转移到其他装置上，绑定后，在其他装置安装游戏，打开游戏后点击登入画面角落的账号登入按钮即可登入绑定的账号。
若遗失EYOU账号的密码，密码将透过信件传送至登录的信箱，因此请务必输入正确的信箱地址</string>
	<key>AgeLimit</key>
	<string>关于购买年龄限制</string>
	<key>AgeMsg</key>
	<string>未成年玩家购买付费游戏道具时，请务必在取得监护人的同意后，才可进行购买。</string>
	<key>NewAccountMsg</key>
	<string>创建新账号后会以新账号登入游戏，并登出原有的游戏账号，请务必确认原有游戏账号已完成绑定以避免游戏账号遗失。</string>
	<key>NewAccountDone</key>
	<string>新账号创建完成</string>
	<key>NoAds</key>
	<string>当前没有可播放的广告</string>
	<key>GetFail</key>
	<string>获取失败</string>
	<key>News</key>
	<string>新消息</string>
	<key>Activity</key>
	<string>活动</string>
	<key>System</key>
	<string>系统</string>
	<key>NotToady</key>
	<string>今日不再提示</string>
	<key>Detail</key>
	<string>详细内容</string>
	<key>Sun</key>
	<string>星期日</string>
	<key>Mon</key>
	<string>星期一</string>
	<key>Tues</key>
	<string>星期二</string>
	<key>Wed</key>
	<string>星期三</string>
	<key>Thur</key>
	<string>星期四</string>
	<key>Fri</key>
	<string>星期五</string>
	<key>Sat</key>
	<string>星期六</string>
</dict>
</plist>
