<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCon</key>
	<string>UserCon</string>
	<key>UserPri</key>
	<string>UserPri</string>
	<key>UserAg</key>
	<string>UserAg</string>
	<key>errorNetWork</key>
	<string>接続に失敗しました。ネットワーク接続状態を確認後、再試行してください。</string>
	<key>phoneBind</key>
	<string>phoneBind</string>
	<key>sendCode</key>
	<string>sendSuccess</string>
	<key>codeNil</key>
	<string>codeNil</string>
	<key>phoneNil</key>
	<string>phoneNil</string>
	<key>phoneBack</key>
	<string>phoneBack</string>
	<key>phoneSure</key>
	<string>phoneSure</string>
	<key>enterCode</key>
	<string>enterCode</string>
	<key>getCode</key>
	<string>getCode</string>
	<key>enterPhone</key>
	<string>enterPhone</string>
	<key>chooseCou</key>
	<string>chooseCou</string>
	<key>bindPhone</key>
	<string>bindPhone</string>
	<key>lan_change</key>
	<string>新しい言語に変更します。よろしいですか？</string>
	<key>UserFB</key>
	<string>UserFB</string>
	<key>lan_th</key>
	<string>タイ語に設定しますか？</string>
	<key>lan_ru</key>
	<string>ロシア語に設定しますか？</string>
	<key>lan_pt</key>
	<string>ポルトガル語に設定しますか？</string>
	<key>lan_ko</key>
	<string>韓国語に設定しますか？</string>
	<key>lan_ja</key>
	<string>日本語に設定しますか？</string>
	<key>lan_id</key>
	<string>インドネシア語に設定しますか？</string>
	<key>lan_hk</key>
	<string>中国語（繫体字）に設定しますか？</string>
	<key>lan_es</key>
	<string>スペイン語に設定しますか？</string>
	<key>lan_en</key>
	<string>英語に設定しますか？</string>
	<key>lan_ar</key>
	<string>アラビア語に設定しますか？</string>
	<key>lan_cancle</key>
	<string>取消し</string>
	<key>lan_sure</key>
	<string>確定</string>
	<key>TitleMsg</key>
	<string>ゲーム言語を選択してください</string>
	<key>Tip</key>
	<string>TIPS</string>
	<key>PaySuccess</key>
	<string>購入の成功</string>
	<key>PayFail</key>
	<string>購入に失敗しました</string>
	<key>ValidationError</key>
	<string>認証情報の不一致</string>
	<key>UserCancle</key>
	<string>使用者はリクエストをキャンセル</string>
	<key>AuthorizationFailure</key>
	<string>リクエストに失敗</string>
	<key>NORequest</key>
	<string>リクエスト　無効なレスポンス</string>
	<key>NOAnswer</key>
	<string>リクエストが未処理</string>
	<key>NOReason</key>
	<string>リクエストに失敗　不明なエラー</string>
	<key>NetWorkError</key>
	<string>ネットワークエラー</string>
	<key>UserEmpty</key>
	<string>アカウント/パスワードを正しく入力してください</string>
	<key>Agreement</key>
	<string>利用規約</string>
	<key>Provision</key>
	<string>本アプリをご利用いただくには「利用規約」等に同意していただく必要があります。「利用規約」等をご確認の上「同意する」ボタンを押してください。</string>
	<key>Disagree</key>
	<string>同意しない</string>
	<key>Agree</key>
	<string>同意する</string>
	<key>MsgProvision</key>
	<string>本アプリをご利用いただくには「利用規約」等に同意していただく必要があります</string>
	<key>Sure</key>
	<string>確認</string>
	<key>LoginMode</key>
	<string>＊事前に手続き済みの引継ぎ方法を選んでください。
＊ほかのゲームデータと連携中のアカウントでログインされますと、現在ご利用中のアカウントと入替わります。</string>
	<key>LineLogin</key>
	<string>Lineで引継ぎ</string>
	<key>UserLogin</key>
	<string>アカウントで引継ぎ</string>
	<key>Register</key>
	<string>新規作成</string>
	<key>Error</key>
	<string>エラー</string>
	<key>LoginSuccess</key>
	<string>引継ぎ成功</string>
	<key>Close</key>
	<string>閉じる</string>
	<key>EnterAccount</key>
	<string>アカウントを入力</string>
	<key>EnterPassword</key>
	<string>パスワードを入力</string>
	<key>Login</key>
	<string>引継ぎをする</string>
	<key>ForgetPw</key>
	<string>パスワードを忘れた場合</string>
	<key>AccountMsg</key>
	<string>アカウントの情報は</string>
	<key>CurrentAccount</key>
	<string>現在アカウント</string>
	<key>LoginAccount</key>
	<string>引継ぎアカウント</string>
	<key>ChangeMsg</key>
	<string>ゲームデータを引継ぐために、現在ご利用中のアカウントと入替わります、本当によろしいですか？</string>
	<key>Cancle</key>
	<string>取消し</string>
	<key>BeSure</key>
	<string>確定</string>
	<key>AccountSame</key>
	<string>使用中のアカウントと同じです</string>
	<key>Sent</key>
	<string>送信する</string>
	<key>HaveSent</key>
	<string>新パスワードはご登録のメールアドレスに送信しました。</string>
	<key>DoLater</key>
	<string>しばらくお待ち頂いてから操作可能になります</string>
	<key>Inexistence</key>
	<string>対応するユーザー名が見つかりません。</string>
	<key>AccountWarning</key>
	<string>アカウントに利用できない文字が含まれているため、認証はできません</string>
	<key>EmailError1</key>
	<string>メールアドレスが正しくない、または未入力です</string>
	<key>EmailError2</key>
	<string>入力したメールアドレスと連携アカウントが異なっています</string>
	<key>ConnectError</key>
	<string>通信エラーが発生しました</string>
	<key>EmailAgain</key>
	<string>メールアドレスを再確認してください</string>
	<key>BindAccount</key>
	<string>アカウント連携</string>
	<key>BindDone</key>
	<string>連携が完了しました</string>
	<key>PwAgain</key>
	<string>パスワードを再入力</string>
	<key>EnterEmail</key>
	<string>メールアドレスを入力</string>
	<key>PwAgainError</key>
	<string>入力欄と再入力欄のパスワードが一致していません</string>
	<key>Warning</key>
	<string>ご注意</string>
	<key>BindMsg</key>
	<string>このアカウントをLINE、EYOUと連携できます。アカウントを連携すると他の端末でログインできます。連携完了後に、ログイン画面のデータ引継をタップして連携アカウントを選択するとログインできます。
EYOUアカウントのパスワードを忘れた場合は、確認のメールとパスワード再設定のメールを送りますので、メールアドレスを正しく入力してください。</string>
	<key>AgeLimit</key>
	<string>購入制限について</string>
	<key>AgeMsg</key>
	<string>20歳未満の方は、必ず保護者の許可をもらった上で購入してください。
購入上限額
16歳未満 1か月5,000円まで
20歳未満 1か月20,000円まで
20歳以上 制限なし</string>
	<key>NewAccountMsg</key>
	<string>新しいアカウントを作成すると、使用中のアカウントからログアウトして新しいアカウントでログインします。現在使用中のアカウントが連携されているかどうかを確認してから作成してください。</string>
	<key>NewAccountDone</key>
	<string>新規作成完了</string>
	<key>NoAds</key>
	<string>現在、再生する広告はありません</string>
	<key>GetFail</key>
	<string>獲得失敗</string>
	<key>News</key>
	<string>新着</string>
	<key>Activity</key>
	<string>イベント</string>
	<key>System</key>
	<string>システム</string>
	<key>NotToady</key>
	<string>今日は表示しない</string>
	<key>Detail</key>
	<string>詳しい内容</string>
	<key>Sun</key>
	<string>日</string>
	<key>Mon</key>
	<string>月</string>
	<key>Tues</key>
	<string>火</string>
	<key>Wed</key>
	<string>水</string>
	<key>Thur</key>
	<string>木</string>
	<key>Fri</key>
	<string>金</string>
	<key>Sat</key>
	<string>土</string>
</dict>
</plist>
