<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCon</key>
	<string>UserCon</string>
	<key>UserPri</key>
	<string>UserPri</string>
	<key>UserAg</key>
	<string>UserAg</string>
	<key>errorNetWork</key>
	<string>네트워크 연결 오류, 인터넷을 확인하세요</string>
	<key>phoneBind</key>
	<string>이미 휴대폰을 연동했습니다</string>
	<key>sendSuccess</key>
	<string>인증번호 발송 성공</string>
	<key>codeNil</key>
	<string>인증번호 미입력/올바른 인증번호를 입력하세요</string>
	<key>phoneNil</key>
	<string>휴대폰 번호 미입력/올바른 휴대폰 번호를 입력하세요</string>
	<key>phoneBack</key>
	<string>뒤로</string>
	<key>phoneSure</key>
	<string>확인</string>
	<key>enterCode</key>
	<string>인증번호 입력</string>
	<key>getCode</key>
	<string>인증번호</string>
	<key>enterPhone</key>
	<string>휴대폰 번호 입력</string>
	<key>chooseCou</key>
	<string>국가 선택</string>
	<key>bindPhone</key>
	<string>휴대폰 인증</string>
	<key>lan_change</key>
	<string>언어를 변경하시겠습니까?</string>
	<key>UserFB</key>
	<string>Facebook 연동</string>
	<key>lan_th</key>
	<string>태국어를 선택할까요?</string>
	<key>lan_ru</key>
	<string>러시아어를 선택할까요?</string>
	<key>lan_pt</key>
	<string>포르투갈어를 선택할까요?</string>
	<key>lan_ko</key>
	<string>한국어를 선택할까요?</string>
	<key>lan_ja</key>
	<string>일본어를 선택할까요?</string>
	<key>lan_id</key>
	<string>인도네시아어를 선택할까요?</string>
	<key>lan_hk</key>
	<string>중국어를 선택할까요?</string>
	<key>lan_es</key>
	<string>스페인어를 선택할까요?</string>
	<key>lan_en</key>
	<string> 영어를 선택할까요?</string>
	<key>lan_ar</key>
	<string>아랍어를 선택할까요?</string>
	<key>lan_cancle</key>
	<string>취소</string>
	<key>lan_sure</key>
	<string>확인</string>
	<key>TitleMsg</key>
	<string>언어를 선택하세요</string>
	<key>Tip</key>
	<string>알림</string>
	<key>PaySuccess</key>
	<string>구매성공</string>
	<key>PayFail</key>
	<string>구매실패</string>
	<key>ValidationError</key>
	<string>인증정보 오류</string>
	<key>UserCancle</key>
	<string>사용자가 권한방문 요청 취소</string>
	<key>AuthorizationFailure</key>
	<string>권한방문 요청 실패</string>
	<key>NORequest</key>
	<string>권한방문 요청 응답없음</string>
	<key>NOAnswer</key>
	<string>권한방문 요청 처리 불가</string>
	<key>NOReason</key>
	<string>알 수 없는 원인으로 권한방문 요청 실패</string>
	<key>NetWorkError</key>
	<string>네트워크 오류</string>
	<key>UserEmpty</key>
	<string>계정 또는 비밀번호 미입력</string>
	<key>Agreement</key>
	<string>활용 프로토콜</string>
	<key>Provision</key>
	<string>[이용약관]에 동의 후 앱 이용 가능, [이용약관] 확인 후 동의해주세요</string>
	<key>Disagree</key>
	<string>동의안함</string>
	<key>Agree</key>
	<string>동의</string>
	<key>MsgProvision</key>
	<string>[이용약관]에 동의 후 앱 이용 가능</string>
	<key>Sure</key>
	<string>확인</string>
	<key>LoginMode</key>
	<string>*사용할 접속방법을 선택하세요.
*접속 후 게임 캐릭터 정보는 접속 계정의 캐릭터 정보로 전환됩니다.</string>
	<key>LineLogin</key>
	<string>LINE접속</string>
	<key>UserLogin</key>
	<string>EYOU계정 접속</string>
	<key>Register</key>
	<string>가입</string>
	<key>Error</key>
	<string>오류</string>
	<key>LoginSuccess</key>
	<string>접속성공</string>
	<key>Close</key>
	<string>닫기</string>
	<key>EnterAccount</key>
	<string>계정 입력</string>
	<key>EnterPassword</key>
	<string>비밀번호 입력</string>
	<key>Login</key>
	<string>접속</string>
	<key>ForgetPw</key>
	<string>비밀번호 찾기</string>
	<key>AccountMsg</key>
	<string>계정정보</string>
	<key>CurrentAccount</key>
	<string>현재 계정</string>
	<key>LoginAccount</key>
	<string>접속 계정</string>
	<key>ChangeMsg</key>
	<string>캐릭터 정보가 접속 계정의 캐릭터 정보로 전환됩니다. 계속하시겠습니까?</string>
	<key>Cancle</key>
	<string>취소</string>
	<key>BeSure</key>
	<string>확인</string>
	<key>AccountSame</key>
	<string>현재 사용 중인 계정과 동일함</string>
	<key>Sent</key>
	<string>발송</string>
	<key>HaveSent</key>
	<string>새 비밀번호가 등록한 메일로 발송됨</string>
	<key>DoLater</key>
	<string>잠시 후 시도하세요</string>
	<key>Inexistence</key>
	<string>존재하지 않는 계정</string>
	<key>AccountWarning</key>
	<string>계정에 금칙어가 있습니다</string>
	<key>EmailError1</key>
	<string>메일주소 미입력 또는 입력 오류</string>
	<key>EmailError2</key>
	<string>해당 메일은 이 계정 등록 메일이 아닙니다</string>
	<key>ConnectError</key>
	<string>연결 오류</string>
	<key>EmailAgain</key>
	<string>메일주소를 확인해주세요</string>
	<key>BindAccount</key>
	<string>계정연동</string>
	<key>BindDone</key>
	<string>계정연동 성공</string>
	<key>PwAgain</key>
	<string>비밀번호 재입력</string>
	<key>EnterEmail</key>
	<string>메일주소 입력</string>
	<key>PwAgainError</key>
	<string>비밀번호가 다릅니다</string>
	<key>Warning</key>
	<string>주의</string>
	<key>BindMsg</key>
	<string>LINE 또는 EYOU계정으로 연동 시, 게임 내 캐릭터 정보가 다른 장치로 이전됩니다. 연동 후 다른 장치에 게임을 설치, 게임 구동 후 접속화면 내 계정접속을 터치해 연동된 계정을 입력하세요.
eyou계정의 비밀번호를 잃어버린 경우, 비밀번호는 등록한 메일주소로 발송되니, 정확한 메일주소를 입력하시기 바랍니다.</string>
	<key>AgeLimit</key>
	<string>구매제한 연령에 관해</string>
	<key>AgeMsg</key>
	<string>미성년자가 게임 내 아이템 결제 시, 보호자의 동의를 거쳐야 구매 가능</string>
	<key>NewAccountMsg</key>
	<string>새 계정 생성 시 해당 계정으로 게임에 접속하게 되며, 기존의 게임 계정은 로그아웃 됩니다. 기존 게임 계정을 확인해 연동을 완료하세요</string>
	<key>NewAccountDone</key>
	<string>새 계정 생성 완료</string>
	<key>NoAds</key>
	<string>현재 송출할 광고 없음</string>
	<key>GetFail</key>
	<string>획득 실패</string>
	<key>News</key>
	<string>새 소식</string>
	<key>Activity</key>
	<string>이벤트</string>
	<key>System</key>
	<string>시스템</string>
	<key>NotToady</key>
	<string>오늘 알림 없음</string>
	<key>Detail</key>
	<string>상세내용</string>
	<key>Sun</key>
	<string>일요일</string>
	<key>Mon</key>
	<string>월요일</string>
	<key>Tues</key>
	<string>화요일</string>
	<key>Wed</key>
	<string>수요일</string>
	<key>Thur</key>
	<string>목요일</string>
	<key>Fri</key>
	<string>금요일</string>
	<key>Sat</key>
	<string>토요일</string>
</dict>
</plist>
