<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCon</key>
	<string>UserCon</string>
	<key>UserPri</key>
	<string>UserPri</string>
	<key>UserAg</key>
	<string>UserAg</string>
	<key>errorNetWork</key>
	<string>網路連接異常，請檢查網路後重新嘗試。</string>
	<key>phoneBind</key>
	<string>您已綁定過手機號碼</string>
	<key>sendSuccess</key>
	<string>驗證碼發送成功</string>
	<key>codeNil</key>
	<string>驗證碼不能為空/請填寫完整的驗證碼</string>
	<key>phoneNil</key>
	<string>手機號碼不能為空/請填寫完整的手機號碼</string>
	<key>phoneBack</key>
	<string>返回</string>
	<key>phoneSure</key>
	<string>確認</string>
	<key>enterCode</key>
	<string>請輸入驗證碼</string>
	<key>getCode</key>
	<string>驗證碼</string>
	<key>enterPhone</key>
	<string>請輸入手機號碼</string>
	<key>chooseCou</key>
	<string>請選擇國家</string>
	<key>bindPhone</key>
	<string>手機認證</string>
	<key>lan_change</key>
	<string>確定要切換語言?</string>
	<key>UserFB</key>
	<string>Facebook引繼</string>
	<key>lan_th</key>
	<string>確定選擇泰文？</string>
	<key>lan_ru</key>
	<string>確定選擇俄語？</string>
	<key>lan_pt</key>
	<string>確定選擇葡萄牙語？</string>
	<key>lan_ko</key>
	<string>確定選擇韓文？</string>
	<key>lan_ja</key>
	<string>確定選擇日本語？</string>
	<key>lan_id</key>
	<string>確定選擇印尼語？</string>
	<key>lan_hk</key>
	<string>確定選擇繁體中文？</string>
	<key>lan_es</key>
	<string>確定選擇西班牙語？</string>
	<key>lan_en</key>
	<string>確定選擇英語？</string>
	<key>lan_ar</key>
	<string>確定選擇阿拉伯語？</string>
	<key>lan_cancle</key>
	<string>取消</string>
	<key>lan_sure</key>
	<string>確定</string>
	<key>TitleMsg</key>
	<string>請選擇遊戲的語言</string>
	<key>Tip</key>
	<string>提示</string>
	<key>PaySuccess</key>
	<string>購買成功</string>
	<key>PayFail</key>
	<string>購買失敗</string>
	<key>ValidationError</key>
	<string>驗證訊息錯誤</string>
	<key>UserCancle</key>
	<string>用户取消了授权请求</string>
	<key>AuthorizationFailure</key>
	<string>授权请求失败</string>
	<key>NORequest</key>
	<string>授權請求無回應</string>
	<key>NOAnswer</key>
	<string>無法处理授权请求</string>
	<key>NOReason</key>
	<string>未知原因授权请求失败</string>
	<key>NetWorkError</key>
	<string>網路錯誤</string>
	<key>UserEmpty</key>
	<string>帳號或密碼未輸入</string>
	<key>Agreement</key>
	<string>利用規約</string>
	<key>Provision</key>
	<string>必須同意「使用者條款」才可使用本應用程式，請閱讀「使用者條款」後點擊同意按紐。</string>
	<key>Disagree</key>
	<string>不同意</string>
	<key>Agree</key>
	<string>同意</string>
	<key>MsgProvision</key>
	<string>必須同意「使用者條款」才可使用本應用程式</string>
	<key>Sure</key>
	<string>確認</string>
	<key>LoginMode</key>
	<string>＊請選擇帳號的登入方式
＊登入其他已綁定的帳號後，原有帳號將被登出。</string>
	<key>LineLogin</key>
	<string>LINE登入</string>
	<key>UserLogin</key>
	<string>EYOU帳號登入</string>
	<key>Register</key>
	<string>註冊帳號</string>
	<key>Error</key>
	<string>錯誤</string>
	<key>LoginSuccess</key>
	<string>登入成功</string>
	<key>Close</key>
	<string>關閉</string>
	<key>EnterAccount</key>
	<string>輸入帳號</string>
	<key>EnterPassword</key>
	<string>輸入密碼</string>
	<key>Login</key>
	<string>登入</string>
	<key>ForgetPw</key>
	<string>忘記密碼</string>
	<key>AccountMsg</key>
	<string>帳號資訊</string>
	<key>CurrentAccount</key>
	<string>目前帳號</string>
	<key>LoginAccount</key>
	<string>登入帳號</string>
	<key>ChangeMsg</key>
	<string>角色資料將更換為登入帳號之角色資料，是否繼續？</string>
	<key>Cancle</key>
	<string>取消</string>
	<key>BeSure</key>
	<string>確定</string>
	<key>AccountSame</key>
	<string>與目前使用的帳號相同</string>
	<key>Sent</key>
	<string>送出</string>
	<key>HaveSent</key>
	<string>新密碼已寄送至登錄的信箱</string>
	<key>DoLater</key>
	<string>請稍後再操作</string>
	<key>Inexistence</key>
	<string>不存在的帳號</string>
	<key>AccountWarning</key>
	<string>帳號含有不可使用的字元</string>
	<key>EmailError1</key>
	<string>未輸入或是輸入了錯誤的信箱地址</string>
	<key>EmailError2</key>
	<string>此信箱不是此帳號登錄之信箱</string>
	<key>ConnectError</key>
	<string>連線錯誤</string>
	<key>EmailAgain</key>
	<string>請再次確認信箱地址</string>
	<key>BindAccount</key>
	<string>帳號綁定</string>
	<key>BindDone</key>
	<string>帳號綁定完成</string>
	<key>PwAgain</key>
	<string>請再次輸入密碼</string>
	<key>EnterEmail</key>
	<string>輸入信箱地址</string>
	<key>PwAgainError</key>
	<string>密碼欄與再次輸入密碼欄輸入不一致</string>
	<key>Warning</key>
	<string>注意</string>
	<key>BindMsg</key>
	<string>用LINE或EYOU帳號方式綁定後，即可將遊戲角色資料轉移到其他裝置上，綁定後，在其他裝置安裝遊戲，打開遊戲後點擊登入畫面角落的帳號登入按鈕即可登入綁定的帳號。
若遺失EYOU帳號的密碼，密碼將透過信件傳送至登錄的信箱，因此請務必輸入正確的信箱地址</string>
	<key>AgeLimit</key>
	<string>關於購買年齡限制</string>
	<key>AgeMsg</key>
	<string>未成年玩家購買付費遊戲道具時，請務必在取得監護人的同意後，才可進行購買。</string>
	<key>NewAccountMsg</key>
	<string>創建新帳號後會以新帳號登入遊戲，並登出原有的遊戲帳號，請務必確認原有遊戲帳號已完成綁定以避免遊戲帳號遺失。</string>
	<key>NewAccountDone</key>
	<string>新帳號創建完成</string>
	<key>NoAds</key>
	<string>當前沒有可播放的廣告</string>
	<key>GetFail</key>
	<string>获取失败</string>
	<key>News</key>
	<string>新消息</string>
	<key>Activity</key>
	<string>活動</string>
	<key>System</key>
	<string>系統</string>
	<key>NotToady</key>
	<string>今日不再提示</string>
	<key>Detail</key>
	<string>詳細內容</string>
	<key>Sun</key>
	<string>星期日</string>
	<key>Mon</key>
	<string>星期一</string>
	<key>Tues</key>
	<string>星期二</string>
	<key>Wed</key>
	<string>星期三</string>
	<key>Thur</key>
	<string>星期四</string>
	<key>Fri</key>
	<string>星期五</string>
	<key>Sat</key>
	<string>星期六</string>
</dict>
</plist>
